footer {
  background-color: #f3ecff; /* soft background that matches your palette */
  color: #463b15;
  font-family: "Quicksand", sans-serif; 
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;     
  align-items: center;
  gap: 60px;            
  flex-wrap: wrap;          
}

.footer-item {
  font-size: 1em;
}

.footer-item a {
  text-decoration: none;
  color: #4F359B;
  transition: color 0.3s ease;
}

.footer-item a:hover {
  color: #2b2815;
}