body {
  font-family: "Quicksand", sans-serif; 
  line-height: 1.6;
  color: #242038;
  margin: 20px;
  background-color: #fcf4ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-bottom: 2rem;
}


h1 {
  font-family: "Abril Fatface", serif;
  font-size: 2.5em;
  color: #585191;
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  font-family: "Abril Fatface", serif;
  color: #585191;
  border-bottom: 2px solid;
  padding-bottom: 5px; 
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #463b15;
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
  color: #463b15;
  margin: 20px;
}
  
ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
} 
nav {
  text-align: center;
  font-family: "Abril Fatface", serif;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 20px;
}
.menu li a {
  text-decoration: none;
  color: #463b15;
  font-weight: bold;
  font-family: "Abril Fatface", serif;
  font-size: 20px;
  transition: color 0.3s ease;
}
.menu li a:hover {
  color: #4F359B;
} 

.button,
.submit-btn {
  background-color: #4F359B; 
  color: #ffffff;
  font-family: "Abril Fatface", serif;
  padding: 10px 20px; 
  margin: 20px 10px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 20px; 
  cursor: pointer; 
  border-radius: 10px;
  border: none;
}
.button:hover,
.submit-btn:hover {
  color: #4F359B;
  background-color: #ffffff;
  border: 1px solid #4F359B;
}


#container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 20px;
}
#rightdiv,
#leftdiv,
#rightdiv2,
#leftdiv2 {
  flex: 1;
  min-width: 300px;
}

#rightdiv2 {
  flex: 0 1 60%;
}

#leftdiv2 {
  flex: 0 1 40%;
}
 
blockquote {
  background-color: #4F359B; 
  border-left: 5px solid #333;
  padding: 15px;
  margin: 25px;
  font-style: italic; 
  color: #fcf4ff;  
  border-radius: 6px;
}
 
.intro {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
  flex-wrap: wrap;
}

.introtext {
  flex: 1;
}

#headshotpic img {
  width: 150px;
  border-radius: 8px;
  order: 2;
}
 
footer {
  text-align: center;  
  font-family: "Quicksand", sans-serif; 
  width: 100%; 
  padding: 10px 0;
  margin-top: auto;    
  background-color: #f1eafc;
  color: #463b15;
}

.linkedin {
  color: #242038;
  text-decoration: none;
}

.linkedin:hover {
  text-decoration: underline;
}
  